<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Measurements:</strong>
  <%= @listing.measurements %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @listing.shipping %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @listing.availability %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @listing.profile_id %>
</p>

<%# Show contact name on the listing %>
<p>
  <strong>Seller:</strong>
  <%= @listing.seller.contact_name %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @listing.buyer_id %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
